#block {
  height: 680px;
  width: 680px;
  margin: auto;
  border-radius: 5px;
  background-color: #2b2b2b;
}
ul {
  display: inline-block;
  padding: 7px 35px;
  border: 1px solid #000000;
  border-radius: 7px;
  background-image: url(images/li.png);
  margin-left: 109px;

  position: absolute;
  top: 200px;
  left: 330px;
  background-size: cover;
}
li {
  display: inline-block;
}
li button {
  padding: 5px 25px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-image: url(images/li.png);
  color: white;
  background-size: cover;
}
li button {
  color: aqua;
}
li button:hover {
  box-shadow: inset 0px 0px 8px rgb(84, 110, 226);
}
.search {
  position: absolute;
  top: 290px;
  padding: 5px 30px;
  left: 530px;
  border: 1px solid#000;
  border-radius: 5px;
  background: #96989c;
  background-image: url(images/li.png);
  background-size: cover;
}
img {
  position: absolute;
  right: 40px;
  bottom: 10px;
  width: 10px;
}
input[type="text"] {
  height: 20px;
  border: 1px solid#000;
  border-radius: 4px;
  background: #222837;
  color: white;
}
input {
  background: url(images/map.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
  height: 20px;
  padding-right: 20px;
  background-image: url(images/map.png);
}
